<div class="main">
  <div class="center">
    <div class="center2">
      <h2>CROMO FAMILY PHOTO's</h2>
        <p><span class="amos">If you what to be part of the family... signup to create an account with us,login and create posts to talk to the world.</span><br> Quidem perferendis enim earum ducimus architecto quae nostrum eos libero?<br> Ducimus aut laudantium provident eaque minus molestiae praesentium similique iste ratione sunt?
        </p>
      <h3 class="album">ALBUM</h3>
    </div>

    <div>
      <button mat-raised-button routerLink='/post'>
        View Saved Photos
      </button>
      <div>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/amos-moyo-342976193/">
              <i class="fa fa-linkedin-square" style="font-size:24px"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/moyo.amozi">
              <i class="fa fa-facebook-official" style="font-size:24px"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/moyoamozi/">
              <i class="fa fa-instagram" style="font-size:24px"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">email</i>
            </a>
          </li>
        </ul>
        <details>
          <summary>
            Additional Infomation
          </summary>
          <p class="summary">
            Email: amosmoyo5300@gmail.com<br>
            Contact: +254710510906<br>
            Location: Nairobi, Kenyatta University
          </p>
        </details>
      </div>

    </div>
  </div>
</div>
